.header {
    background-image: url("../img/bg-header.png");
    height: 740px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
  }
  
  .lar2 {
    justify-content: space-between;
    display: flex;
    display: none;
  }
  
  .text2-replacement {
    display: none;
  }
  
  .lar {
    justify-content: space-between;
    display: flex;
    margin-top: -1005px;
  }
  
  .logo {
    justify-content: center;
    display: flex;
    padding-top: 20px;
  }
  
  .text-hed {
    font-family: "Kyiv Region";
    position: relative;
    text-transform: uppercase;
    color: var(--Brown, #493522);
    text-align: center;
    font-weight: 500;
    font-size: 67px;
    padding-top: 150px;
  }
  
  .text-hed2 {
    display: none;
  }
  
  .text2 {
    font-family: "Kyiv*Type Sans";
    position: relative;
    color: var(--Brown, #493522);
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }
  
  .el {
    height: 100%;
    animation: rotate-animation 10s infinite linear;
  }
  
  .elipse {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }
  
  .elipse:after {
    content: "";
    height: 200%;
    width: 100%;
    background-color: white;
    position: absolute;
    transform: translate(0px, 50%);
  }
  
  .elipse-rel {
    overflow: hidden;
    left: 50%;
    object-fit: cover;
  }
  
  @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rec-el {
    width: 600px;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    height: 276px;
    display: none;
  }
  