@media (max-width: 1300px) {
    .ban {
      padding-left: 15px;
    }
  
    .kolos-img {
      width: 200px;
    }
  
    .text-map {
      padding-left: 15px;
    }
  
    .text2-map {
      padding-left: 15px;
    }
  
    .nav-item {
      padding-right: 0px;
    }
  
    .text2-mis,
    .text3-mis,
    .text4-mis {
      font-size: 18px;
    }
  
    .text1-mis {
      font-size: 50px;
    }
  }
  
  @media (max-width: 1230px) {
    .container {
      padding: 0px 0px;
    }
  
    .baking-pr {
      flex-direction: column;
      align-items: center;
    }
  
    .prod1 {
      display: flex;
    }
  
    .prod2 {
      display: flex;
    }
  
    .baking-pr {
      margin-top: 0px;
    }
  
    .text-product {
      padding-bottom: 50px;
    }
  
    .div {
      padding-bottom: 85px;
    }
  
    .btn {
      padding: 16px 60px;
    }
  }
  
  @media (max-width: 1215px) {
    .text2-mis,
    .text3-mis,
    .text4-mis {
      font-size: 17px;
    }
  
    .text-map {
      font-size: 30px;
      padding-top: 0px;
    }
  
    .text2-map {
      font-size: 18px;
    }
  
    .map {
      align-items: center;
    }
  }
  
  @media (max-width: 1180px) {
    .text2-mis,
    .text3-mis,
    .text4-mis {
      font-size: 16px;
    }
  
    .text1-mis {
      font-size: 47px;
    }
  }
  
  @media (max-width: 1080px) {
    .map {
      height: 350px;
    }
  
    .icons-bk {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  
    .logo2 {
      padding-right: 73px;
    }
  }
  
  @media (max-width: 1040px) {
    .text1-mis {
      padding-top: 30px;
    }
    .about-img {
      height: 100%;
      width: 100%;
    }
  }
  
  @media (max-width: 1000px) {
    .icons {
      flex-direction: column;
      align-items: center;
    }
  
    .ic-bk1 {
      margin-right: 35px;
      padding-bottom: 20px;
    }
  
    .icon2 {
      padding-right: 0;
    }
  
    .frame {
      margin-top: -45px;
    }
  
    .frame-img {
      height: 34px;
      width: 178px;
    }
    .map {
      height: 300px;
    }
  
    .logo2 {
      padding-right: 50px;
    }
  
    .nav-item1 {
      padding-right: 50px;
    }
  }
  
  @media (max-width: 960px) {
    .pr {
      display: none;
    }
  }
  
  @media (max-width: 940px) {
    .about-img {
      display: flex;
      width: 100%;
      height: 100%;
    }

    .mision {
      flex-direction: column;
      height: 785px;
      justify-self: center;
    }

    .right-mision {
      height: 50%;
      width: 100%;
    }

    .kolos-mision {
      padding-top: 30px;
      padding-bottom: 30px;
      justify-content: left;
      display: flex;
    }
  
    .ban {
      text-align: center;
    }
  
    .mision {
      justify-content: center;
    }
  }
  
  @media (max-width: 916px) {
    .text-hed {
      padding-top: 70px;
    }
  }
  
  @media (max-width: 915px) {
    .lar2 {
      margin-top: -750px;
      justify-content: space-between;
      display: flex;
      display: flex;
      align-items: center;
    }
  
    .lar {
      display: none;
    }

    .up{
      padding-top: 80px;
    }
  
    .text2-map {
      font-size: 15px;
    }
  
    .text-map {
      font-size: 27px;
    }
  
    .map {
      height: 250px;
    }
  }
  
  @media (max-width: 880px) {
    .nav-item1 {
      display: flex;
      margin-bottom: 8px;
    }
  
    .logo2 {
      padding-right: 90px;
    }
  
    .text-pr {
      font-size: 40px;
    }
  
    .pyrizhky,
    .kish {
      padding-bottom: 20px;
    }
  
    .bg-pr {
      height: 230px;
      width: 250px;
    }
  
    .text-product {
      margin-top: -100px;
      margin-right: 35px;
    }
  
    .bread {
      height: 40px;
      width: 40px;
    }
  
    .text-icons {
      font-size: 20px;
    }
  }
  
  @media (max-width: 780px) {
    .text-map {
      font-size: 24px;
    }
  
    .text2-map {
      font-size: 14px;
    }
  
    .bg-el {
      margin-top: -230px;
    }
  
    .el {
      height: 450px;
    }
  
    .elipse {
      margin-top: 60px;
    }
  
    .up {
      padding-top: 50px;
    }
  
    .pr {
      margin-top: -5px;
    }
  
    .text-pr {
      font-size: 35px;
    }
  
    .pr2,
    .pr1,
    .pr3,
    .pr4 {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  
    .text-product {
      margin-right: 0px;
    }
  
    .bg-pr {
      height: 200px;
      width: 220px;
      margin-top: -95px;
    }
  
    .pr1,
    .pr3 {
      margin-right: 15px;
    }
  
    .bulka,
    .baget,
    .pyrizhky,
    .kish {
      height: 150px;
    }
  }
  
  @media (max-width: 730px) {
    .map {
      height: 600px;
      flex-direction: column;
    }
  
    .map-img2 {
      width: 100%;
      height: 100%;
    }
  
    .map-img {
      height: 100%;
    }
  
    .right {
      display: flex;
      width: 100%;
      height: 60%;
      flex-direction: column;
      justify-content: center;
    }
  
    .middle {
      transform: rotate(90deg);
      height: normal;
      display: none;
      margin-bottom: -67px;
      align-items: center;
      justify-content: normal;
    }
    .text-map {
      text-align: center;
      margin-top: 40px;
      font-size: 30px;
    }
  
    .text2-map {
      margin-bottom: 15px;
      text-align: center;
      font-size: 15px;
    }
  
    .text-pr {
      font-size: 35px;
    }
  }
  
  @media (max-width: 650px) {
    .el {
      height: 400px;
    }
  
    .elipse {
      margin-top: 95px;
    }
  
    .bg-el {
      margin-top: -195px;
    }
  
    .rec-el {
      width: 410px;
    }
  
    .text-hed2 {
      font-family: "Kyiv Region";
      position: relative;
      text-transform: uppercase;
      color: var(--Brown, #493522);
      text-align: center;
      font-weight: 500;
      font-size: 67px;
      padding-top: 70px;
      display: flow-root;
    }
  
    .text-hed {
      display: none;
    }
  
    .text2 {
      display: none;
    }
  
    .text2-replacement {
      display: block;
      font-size: 20px;
      font-family: "Kyiv*Type Sans";
      position: relative;
      color: var(--Brown, #493522);
      text-align: center;
      font-weight: 500;
    }
  }
  
  @media (max-width: 630px) {
    .nav-item1 {
      padding-right: 30px;
      font-size: 20px;
    }
  
    .f-i {
      height: 30px;
    }
  
    .logo2 {
      height: 85px;
      padding-right: 50px;
    }
  }
  
  @media (max-width: 550px) {
    .mision {
      height: auto;
      flex-direction: column;
    }
  
    .right-mision {
      width: 100%;
      display: flex;
    }
  
    .about-img {
      display: flex;
    }
  
    .kolos-img {
      width: 178px;
    }
  
    .kolos-mision {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  
    .bg-img {
      justify-content: center;
    }
  
    .right-mision {
      height: 50%;
    }
  
    .text1-mis {
      font-size: 35px;
    }
  
    .text2-mis,
    .text3-mis,
    .text4-mis {
      font-size: 14px;
    }
  }
  
  @media (max-width: 530px) {
    .elipse {
      margin-top: 135px;
    }
  
    .el {
      height: 350px;
    }
  
    .bg-el {
      margin-top: -174px;
    }
  
    .text-hed2 {
      font-size: 50px;
      margin-top: 50px;
    }
  
    .text2-replacement {
      font-size: 18px;
    }
  }
  
  @media (max-width: 515px) {
    .text-icons {
      font-size: 18px;
    }
  
    .product {
      padding-bottom: 80px;
    }
  
    .icons-bk {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  
    .bg-pr {
      height: 150px;
      width: 180px;
      margin-top: -75px;
    }
  
    .bulka,
    .baget,
    .pyrizhky,
    .kish {
      height: 120px;
    }
  
    .text-product {
      font-size: 20px;
      margin-top: -85px;
    }
  
    .text-pr {
      font-size: 30px;
    }
  
    .btn {
      margin-top: 0px;
    }
  
    .bg-el {
      margin-top: -162px;
    }
  
    .el {
      height: 330px;
    }
  
    .elipse {
      margin-top: 145px;
    }
  
    .down {
      height: 105px;
    }
  
    .logo2 {
      height: 60px;
    }
  
    .nav-item1 {
      font-size: 17px;
    }
  }
  
  @media (max-width: 470px) {
    .text-map {
      text-align: left;
      margin-top: 30px;
      font-size: 24px;
    }
  
    .text2-map {
      margin-top: 10px;
      text-align: left;
      font-size: 14px;
    }
  
    .map {
      height: 430px;
    }
  
    .text2-mis,
    .text3-mis,
    .text4-mis {
      font-size: 13px;
    }
  
    .text-icons {
      font-size: 15px;
    }
  
    .icon2 {
      margin-right: -67px;
    }
  
    .bk {
      padding-right: 50px;
      justify-content: center;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  
    .ic-bk2 {
      margin-left: 45px;
    }
  }
  
  @media (max-width: 450px) {
    .btn {
      margin-top: -15px;
    }
  
    .bg-pr {
      height: 110px;
      width: 160px;
    }
  
    .bulka,
    .baget,
    .pyrizhky,
    .kish {
      height: 100px;
    }
  
    .text-product {
      font-size: 15px;
      margin-top: -45px;
    }
  
    .text1-mis {
      font-size: 28px;
    }
  
    .text2-mis2,
    .text3-mis2 {
      display: flow-root;
    }
  
    .text2-mis,
    .text3-mis {
      display: none;
    }
  
    .text2-mis2 {
      font-family: "Kyiv*Type Sans";
      color: var(--Brown, #493522);
      font-size: 14px;
      padding-top: 16px;
      font-weight: 700;
    }
  
    .text3-mis2 {
      font-family: "Kyiv*Type Sans";
      color: var(--Brown, #493522);
      font-size: 13px;
      padding-top: 16px;
      font-weight: 350;
    }
  
    .f-i {
      height: 24px;
    }
  
    .nav-item1 {
      padding-right: 5px;
      font-size: 15px;
    }
  
    .logo2 {
      height: 56px;
      padding-right: 20px;
    }
  
    .icon4,
    .icon2 {
      padding-right: 0px;
    }
  
    .bulka,
    .baget,
    .pyrizhky,
    .kish {
      height: 95px;
    }
  
    .bg-pr {
      height: 110px;
      width: 140px;
    }
  
    .rec-el {
      width: 350px;
    }
  }
  
  @media (max-width: 370px) {
    .text2-replacement {
      font-size: 13px;
    }
  
    .text-hed2 {
      font-size: 34px;
      margin-top: 50px;
    }
  
    .right3-2 {
      margin-left: -30px;
    }
  
    .text1-mis {
      padding-top: 30px;
    }
  
    .icons-bk {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  
    .up {
      margin-top: -15%;
    }
  }
  